#profile {
  display: flex;
  padding: 60px;

  > div {
    padding: 10px 0 0 30px;

    h2 {
      margin: 0;
    }
    
    .name {
      display: flex;
      align-items: center;
      
      img {
        padding-left: 10px;
        cursor: pointer;
      }
    }

    .edit {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin-top: 10px;

      .error {
        color: lighten(darkred, 30%);
        margin: 0 0 -5px 0;
      }

      input {
        font-size: 18px;
        padding: 5px 10px;
        height: 35px;
        margin: 10px 0;
        font-weight: bold;
      }
    }
  }

}