@import 'configs';

.search-nav {
  display: flex;
  //justify-content: flex-start;

  input {
    align-self: center;
    height: 40px;
    width: 300px;

    font-size: 18px;
    padding: 5px 10px;
    margin: 10px 0;
  }
}
